@import url('./src/fonts/stylesheet.css');

* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: 'Grtsk Giga';
  src: url('./src/fonts/GrtskGiga-Bold.eot');
  font-weight: 700;
}

@font-face {
  font-family: 'Grtsk Giga';
  src: url('./src/fonts/GrtskGiga-Semibold.eot');
  font-weight: 600;
} */

body {
  margin: 0;
  font-family: 'Grtsk Giga';
  font-weight: 600;
  overflow: hidden;

}

/* .section {
  padding: 24px 0;
} */

.section--intro {
  background-color: #BEBEBE;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.intro {
  position: relative;
  /* background-color: #BEBEBE; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 16px 0;
}

@media (min-width: 1024px) {
  .intro {
    padding: 24px 0;
  }
}

/* возможно это хедер */
.intro__header {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

.intro__language {
  position: relative;
  /* display: inline-flex;
  align-items: center; */
  /* margin-top: 4px; */
  /* display: inline-block; */
  /* margin-right: calc(50% - 38px); */
  /* margin-right: 45%; */
  /* меняй это */
  /* margin-right: 42%; */
  /* min-width: 200px; */
  width: 34px;
  height: 34px;
}

@media (min-width: 1024px) {
  .intro__language {
    width: 38px;
    height: 38px;
  }
}

.intro__language img {
  width: 34px;
  height: 34px;
}


@media (min-width: 1024px) {
  .intro__language img {
    width: 38px;
    height: 38px;
  }
}


/* оно не по очереди лезет а сразу */
.intro__language:hover .intro__switcher {
  left: 50px;
  z-index: 0;
  opacity: 1;
  /* line-height: 36px; */
  /* padding: 16px; */
  /* transition: left 0.3s; */
}

.intro__language:hover .intro__switcher .intro__switch-link{
  padding: 8px;
}

.intro__language:hover {
  padding-right: 24px;
}

.intro__logo {
  /* display: inline-block; */
  /* position: absolute;
  left: 50%;
  top: 24px;
  transform: translate(-50%, 0); */
  animation: pageLoaded 5s forwards linear;
  /* 5s infinite linear */
  height: auto;
}

.intro__logo img {
  width: 100%;
  height: 26px;
}

@media (min-width: 768px) {
  .intro__logo img {
    height: 38px;
  }
}

@media (min-width: 1024px) {
  .intro__logo img {
    height: 100%;
  }
}

@keyframes pageLoaded {
    from{

    }

    to {

    }
}

/* можно его сделать обсоютным и он не будет занимать место */
.intro__switcher {
  position: absolute;
  z-index: -1;
  font-size: 12px;
  /* transform: translateX(-80px); */
  transform: translateY(-50%);
  top: 50%;
  width: 105px;
  left: -100%;
  opacity: 0;
  transition: left 0.3s, opacity 0.3s;

}

.intro__switch-link {
  text-decoration: none;
}


.intro__front {
  position: relative;
  /* margin-top: 72px; */

  text-align: center;
}

.intro__img {
  position: relative;
  z-index: 1;
  width: fit-content;
  margin: 0 auto;
}

.intro__img img {
  filter: blur(38px);
}

.intro__title {
  position: absolute;
  top: 50%;
  z-index: 2;

  transform: translate(0, -50%);

  width: 100%;
  margin: 0;
  /* font-size: 82px; */
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1;

  text-align: center;
  text-transform: uppercase;

  color: #373737;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: calc(17px + 4vw);
  }
}

@media (min-width: 1024px) {
  .intro__title {
    /* font-size: 82px; */
    font-size: calc(28px + 3vw);
  }
}

@media (min-width: 1440px) {
  .intro__title {
    font-size: 82px;
  }
}

.intro__horizontal-link {
  display: none;

}

@media (min-width: 768px) {
  .intro__horizontal-link {
    position: absolute;
    z-index: 3;
    top: 50%;

    display: block;

    font-size: 14px;
    line-height: 1.4;

    text-decoration: none;

    color: #373737;
    transition: color 0.3s;

  }
}

@media (min-width: 1440px) {
  .intro__horizontal-link {

    font-size: 16px;

  }
}

.intro__horizontal-link::after {
  content: '';
  width: 0px;
  height: 1px;
  background-color: white;
  display: block;
  transition: width 0.3s;
}


.intro__horizontal-link:hover::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
}

.intro__horizontal-link:hover {
  color: white;
}

.intro__horizontal-link--left {
  /* left: 0; */
  left: -24px;


  transform: rotate(-90deg) translateX(50%);
}

.intro__horizontal-link--right {
  /* right: 0; */
  right: -24px;

  transform: rotate(90deg) translateX(-50%);
}

.intro__vertical-link {
  display: none;
}

@media (min-width: 768px) {
  .intro__vertical-link {
    position: absolute;
    bottom: 24px;
    /* display: inline-block; */
    display: block;
    margin-left: 50%;
    /* width: 100%; */
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;

    /* text-align: center; */

    color: #373737;

    transform: translateX(-50%);

    text-decoration: none;

  }
}

@media (min-width: 1440px) {
  .intro__vertical-link {

    font-size: 16px;

  }
}

.intro__vertical-link::after {
  content: '';
  width: 0px;
  height: 1px;
  background-color: white;
  display: block;
  transition: width 0.3s;
}

.intro__vertical-link:hover::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
}

.intro__vertical-link:hover {
  color: white;
}

.intro__running-text {
  /* position: absolute; */
  position: relative;
  transform: rotate(-30deg);
  top: -600px;
  /* top: -650px; */
  /* left: -385px; */
  /* transform: translateY(-50%); */
  /* transform: translate(-20%, -50%) rotate(-30deg); */
  /* transform: translate(-20%, -190%) rotate(-30deg); */

  /* ноу врап не подходит так как тогда текст не двигается вместо с уженим экрана */
  white-space: nowrap;
  /* тут тоже текст не двигается */
  /* width: max-content; */
}

.intro__text {
  margin: 0;
  font-style: italic;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.1;

  text-align: center;
  text-transform: uppercase;

  opacity: 0.1;

  /* border: 1px solid #373737; */
  /* transform: rotate(-30deg); */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #373737;
  color: transparent;

  white-space: nowrap;

}


.intro__text--right {
  /* margin-bottom: 16px; */
  /* padding-left: 100%; */
  animation: runningTextUp 5s infinite linear;
}

.intro__text--left {
    padding-right: 100%;
  /* margin-bottom: 16px; */
  margin-top: 16px;
  transform: rotate(180deg) translateX(-30%);
  animation: runningTextDown 5s infinite linear;
  /* animation: runningTextDown 3s linear 1s infinite running; */
  /* backwards */
  /* animation-fill-mode: backwards; */
}

@keyframes runningTextDown {
    from {
      transform: translate(0,0) rotate(180deg);
    }

    to {
      transform: translate(-160%, 0) rotate(180deg);
      /* не выезжяет плавно а сразу появляется */
      /* transform: translate(-360%, 0) rotate(180deg); */
    }
  }

  @keyframes runningTextUp {
    from {
      transform: translate(0,0);
    }

    to {
      transform: translate(160%, 0) ;
      /* не выезжяет плавно а сразу появляется */
      /* transform: translate(-360%, 0) rotate(180deg); */
    }
  }

svg {
  /* position: absolute; */
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  /* width: 66%; */
  /* position: absolute; */
  width: 118px;
  /* transform: rotate(-90deg); */
  /* у меня стартовое положение не такое как надо и тут ротетйт это фиксит но из за транзишена оно крутится после перезагрузки страницы */
  /* transition: transform 3s; */
  color: white;
}

.superSpiner {
  position: absolute;
  height: 118px;
  bottom: 24px;
  right: 24px;
  transform: rotate(-90deg);
}

.superSpiner:hover svg{
  /* это оно но разко скидывает когда мышь увел и неясно должно ли оно плавно возвращатся или нет */
  animation: spin 5s infinite linear;
}

.superSpiner::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;

  width: 8px;
  height: 8px;

  background-color: black;

  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* .intro__spiner {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 8px;
  height: 8px;

  background-color: black;

  border-radius: 50%;
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
}

/* @media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
  }
} */

.grid__item--1-2 {
  grid-column: 1 / 2;
}

.grid__item--1-6 {
  grid-column: 1 / 7;
}


.grid__item--1-7 {
  grid-column: 1 / 8;
}

.grid__item--7-8 {
  grid-column: 7 / 8;
}

.grid__item--7-12 {
  grid-column: 7 / 13;
}

.grid__item--8-12 {
  grid-column: 8 / 13;
}

.grid__item--1-12 {
  grid-column: 1 / 13;
}


.block{
    height: 90px;
    width:300px;
    margin:0 auto;
    background: #343436;
  }
  .block p{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    padding-top: 35px;
    animation: text 5s infinite linear;
    padding-left: 100%;
    white-space: nowrap;
  }
  @keyframes text {
    0%{
      transform: translate(0, 0);
    }

    100%{
      transform: translate(-160%, 0);
    }
  }
