@import url('./src/fonts/stylesheet.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Grtsk Giga';
  font-weight: 600;
  overflow: hidden;

}

.section {
  background-color: #BEBEBE;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.intro {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  padding: 16px 0;
}

@media (min-width: 1024px) {
  .intro {
    padding: 24px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__language {
  position: relative;
  width: 34px;
  height: 34px;
}

@media (min-width: 1024px) {
  .header__language {
    width: 38px;
    height: 38px;
  }
}

.header__language img {
  width: 34px;
  height: 34px;
}


@media (min-width: 1024px) {
  .header__language img {
    width: 38px;
    height: 38px;
  }
}

.header__switch-link {
  position: absolute;
  left: 0;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  color: #373737;
  /* z-index: -10; */
}

@media (min-width: 768px) {
  .header__switch-link {
    font-size: 16px;
  }
}

.header__switch-link--RU {
  opacity: 0;
}

.header__switch-link--UA {
  opacity: 0;
}

.header__language:hover .header__switch-link--RU {
  left: 30px;
}

.header__language:hover .header__switch-link--UA {
  left: 75px;
}

.logo {
  height: auto;
}

.logo svg {
  /* fill: transparent; */
  animation: pageLoaded 5s forwards linear;
  /* transition: fill 0.3s; */
  stroke: black;
  /* background: linear-gradient(0deg, green, red) */
  /* background-color:red; */
  transition: all 0.3s;
}

@keyframes pageLoaded {
  from{
    fill: transparent;
    /* background: linear-gradient(0deg, black 1%, white 99%) */
  }

  to {
    fill: black;
    /* background: linear-gradient(0deg, black 100%, white 0%) */
    /* строк нормально не убирается то есстьон убирается раньше чем заполнится все черным*/
    /* stroke: none; */
    stroke: transparent;
  }
}

.logo svg {
  width: 100%;
  height: 26px;
}

@media (min-width: 768px) {
  .logo svg {
    height: 38px;
  }
}

@media (min-width: 1024px) {
  .logo svg {
    height: 100%;
  }
}

.hamburger-menu {
  visibility: visible;
  /* cursor: pointer; */
}

@media (min-width: 768px) {
  .hamburger-menu {
    visibility: hidden;
  }
}

.intro__front {
  position: relative;
  /* margin-top: 72px; */

  text-align: center;
}

.intro__img {
  position: relative;
  z-index: 1;
  width: fit-content;
  margin: 0 auto;
}

.intro__img img {
  filter: blur(38px);
  height: 294px;

}

@media (min-width: 768px) {
  .intro__img img {
    height: 482px;
  }
}

@media (min-width: 1440px) {
  .intro__img img {
    height: auto;
  }
}

.intro__title {
  position: absolute;
  /* top: 50%; */
  top: 35%;
  z-index: 2;

  /* пришлось это закоментить и топ поменять чтобы  стили из джс не конфликтовали */
  /* transform: translate(0, -50%); */

  width: 100%;
  margin: 0;
  /* font-size: 82px; */
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1;

  text-align: center;
  text-transform: uppercase;

  color: #373737;

  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: calc(17px + 4vw);
  }
}

@media (min-width: 1024px) {
  .intro__title {
    /* font-size: 82px; */
    font-size: calc(28px + 3vw);
  }
}

@media (min-width: 1440px) {
  .intro__title {
    font-size: 82px;
  }
}

.intro__horizontal-link {
  display: none;
}

@media (min-width: 768px) {
  .intro__horizontal-link {
    position: absolute;
    z-index: 3;
    top: 50%;

    display: block;

    font-size: 14px;
    line-height: 1.4;

    text-decoration: none;

    color: #373737;

    transition: color 0.3s;
  }
}

@media (min-width: 1440px) {
  .intro__horizontal-link {
    font-size: 16px;

  }
}

.intro__horizontal-link::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;

  background-color: white;

  transition: width 0.3s;
}


.intro__horizontal-link:hover::after{
  content: '';
  width: 100%;
  height: 1px;

  background-color: white;
}

.intro__horizontal-link:hover {
  color: white;
}

.intro__horizontal-link--left {
  left: -24px;

  transform: rotate(-90deg) translateX(50%);
}

.intro__horizontal-link--right {
  right: -24px;

  transform: rotate(90deg) translateX(-50%);
}

.intro__vertical-link {
  position: absolute;
  bottom: 24px;

  display: none;
  margin-left: 50%;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;


  color: #373737;

  transform: translateX(-50%);

  text-decoration: none;
}

@media (min-width: 768px) {
  .intro__vertical-link {
    display: block;
  }
}

@media (min-width: 1440px) {
  .intro__vertical-link {
    font-size: 16px;

  }
}

.intro__vertical-link::after {
  content: '';

  display: block;
  width: 0px;
  height: 1px;

  background-color: white;

  transition: width 0.3s;
}

.intro__vertical-link:hover::after{
  content: '';

  width: 100%;
  height: 1px;
}

.intro__vertical-link:hover {
  color: white;
}

.intro__running-text {
  /* position: absolute; */
  position: relative;
  /* transform: rotate(-51deg);
    top: -450px; */

  transform: rotate(-52deg);
  top: -59vw;


  white-space: nowrap;
  /* тут тоже текст не двигается */
  /* width: max-content; */
}

@media (min-width: 768px) {
  .intro__running-text {
    /* top: -420px; */
    top: -37vw;
    transform: rotate(-43deg);
  }
}

@media (min-width: 1024px) {
  .intro__running-text {
    top: -30vw;
    transform: rotate(-35deg);
    /* top: -410px; */
  }
}

@media (min-width: 1440px) {
  .intro__running-text {
    top: -30vw;
    transform: rotate(-33deg);
    /* top: -415px; */
  }
}

.intro__text {
  margin: 0;

  font-style: italic;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;

  text-align: center;
  text-transform: uppercase;

  opacity: 0.1;

  /* border: 1px solid #373737; */
  /* transform: rotate(-30deg); */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #373737;
  color: transparent;

  white-space: nowrap;

}

@media (min-width: 768px) {
  .intro__text {
    font-size: 42px;
  }
}

@media (min-width: 1440px) {
  .intro__text {
    font-size: 52px;
  }
}

.intro__text--right {
  animation: runningTextUp 4s infinite linear;
}

.intro__text--left {
  /* бред оно при изменении текста словается  */
  /* padding-right: 4000px; */
  /* margin-bottom: 16px; */
  /* margin-top: 16px; */
  transform: rotate(180deg) translateX(-30%);
  animation: runningTextDown 4s infinite linear;
  /* animation: runningTextDown 3s linear 1s infinite running; */
  /* backwards */
  /* animation-fill-mode: backwards; */
}

@media (min-width: 768px) {
  .intro__text--left {
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .intro__text--left {
    margin-bottom: 36px;
  }
}

@keyframes runningTextDown {
  from {
    /* transform: translate(0,0) rotate(180deg); */
    transform: translate(200%,0) rotate(180deg);
  }

  to {
    /* transform: translate(-160%, 0) rotate(180deg); */
    transform: translate(-200%, 0) rotate(180deg);
    /* не выезжяет плавно а сразу появляется */
    /* transform: translate(-360%, 0) rotate(180deg); */
  }
}

@keyframes runningTextUp {
  from {
    /* transform: translate(0,0); */
    transform: translate(-200%,0);
  }

  to {
    transform: translate(200%, 0) ;
    /* не выезжяет плавно а сразу появляется */
    /* transform: translate(-360%, 0) rotate(180deg); */
  }
}


.spiner {
  position: absolute;
  height: 90px;
  bottom: -20px;
  right: 40px;
  transform: rotate(-90deg);
}


@media (min-width: 768px) {
  .spiner {
    bottom: 24px;
    right: 24px;
    height: 112px;
  }
}

@media (min-width: 1440px) {
  .spiner {
    height: 118px;
  }
}

.spiner svg {
  height: auto;
  width: 90px;

  font-size: 9px;
  fill: white;
}

@media (min-width: 768px) {
  .spiner svg {
    width: 112px;
  }
}

@media (min-width: 1440px) {
  .spiner svg {
    width: 118px;
  }
}

.spiner::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 8px;
  height: 8px;

  background-color: black;

  border-radius: 50%;
  transform: translate(-50%, -50%);
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
